body {
    margin: 0;
}

div {
    display: flex;
    border: 1px solid green;
    height: 250px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 0;
    
}

.container {
    justify-content: space-around;
}
.container2 {
    padding-inline: 0;
    margin-top: 20px;
    flex-direction: row;
    height: 300px;
    justify-content: flex-start;
    align-items: flex-start;
}
.container2 div:nth-of-type(4){
    align-self: flex-end;
}

.container2 div:nth-of-type(5){
    align-self: center;
}

.container2 div:nth-of-type(2){
    order: -1;
}






